/* 导入normalize.css */
@import "./normalize.css";
@import "./staff.css";
@import "./account.css";

:root{
  --brand-color:#409EFF;
  --border-color:#DCDFE6;
  --main-color:#303133;
  --maior-color:#585d66;
  --delete-color:#F56C6C;
}

*{
  padding: 0;
  margin: 0;
}
a,ul{
  list-style: none;
  text-decoration: none;
}
html,body{
  width: 100%;
  height: 100%;
}

/* 设置滚动条的横向滚动 */
.el-scrollbar__wrap {
  overflow-y: scroll !important;
  overflow-x: hidden;
}
/* 设置导航的title标题padding */
.el-menu-item-group__title{
  padding: 0;
}
/* 设置表格thead的分割线 */
.el-table__header{
  border-bottom: .7px solid #dcdcdc;
}
/* 设置表格每一行的padding */
.el-table__row>td{
  padding: 5px 0;
}
.el-input{
  margin: 0 5px;
}

/* 新增人员账户drawer样式 */
.drawer-title{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
}
.drawer-con{
  padding: 20px;
  box-sizing: border-box;
}
.drawer-bottom{
  height:50px;
  width:100%;
  background-color:#fff;
  position:absolute;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  border-top: 1px solid #dcdcdc;
}

/* 设置loading的z-index */
.el-loading-mask{
  z-index: 3079 !important;
}

/* 设置link的字体大小 */
.el-link{
  font-size: 12px !important;
}

/*设置dialog的样式*/
.el-dialog__footer{
  text-align: center !important;
}